* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1350px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgba(188, 164, 255, 0.4);
}

.nav {
  height: 7rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
  justify-content: space-between;
  align-items: center;
  color: #5f2eea;
  width: auto;
}
.nav__title {
  font-size: 2rem;
}
.nav__menu {
  margin-inline-end: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__menu a {
  margin: 0.1rem;
  width: 1.9rem;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: #5f2eea;
}

.nav__menu:hover > .menu {
  display: block;
}

.menu__fisrt--list div:hover .menu__second-list {
  height: 240px;
}

.menu__fisrt--list div:hover > .menu__arrow::before {
  content: url(/Img/Forward-arrow.png);
}

.menu {
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  min-height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  display: none;
  color: white;
  background-color: #2a00a2;
}
.menu__title {
  padding-inline: 3rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #d9dbe9;
  height: 4rem;
}
.menu .menu__title a {
  background-color: transparent;
}
.menu li {
  display: block;
  padding-block: 0.7rem;
  height: 3rem;
}
.menu li:hover {
  background-color: #5f2eea;
}
.menu__first--hover {
  padding-block: 0.7rem;
}
.menu div:hover {
  background-color: #5f2eea;
}
.menu img {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.menu__arrow {
  overflow: hidden;
}
.menu__arrow::before {
  content: url(/Img/Forward-right-arrow-blanca.png);
  position: absolute;
  left: 3.5rem;
}
.menu__fisrt--list {
  cursor: pointer;
  color: white;
  padding-block: 2rem;
  list-style: none;
}
.menu__fisrt--list a {
  padding-inline-start: 5rem;
  background-color: transparent;
  text-decoration: none;
  color: white;
}
.menu__second-list {
  overflow: hidden;
  color: white;
  list-style: none;
  background-color: #5f2eea;
  height: 0px;
  transition: height 0.3s;
}
.menu__second-list a {
  font-size: 0.8rem;
  background-color: #5f2eea;
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.search-top {
  display: flex;
  flex-direction: column;
  margin-block-start: 5rem;
  padding-inline: 2rem;
  border-bottom: solid 1px #d9dbe9;
  padding-block-end: 2rem;
}
.search-top__container {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
}
.search-top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.search-top__input {
  font-size: 1rem;
  height: 1.8rem;
  border: 2px solid #14142b;
  border-radius: 15px;
  padding: 1.5rem 1rem;
  margin-block: 0.7rem;
}
.search-top__input--arrow {
  background: url(../Img/Forward-right-arrow.png) no-repeat right;
  background-size: 0.7rem;
  background-position: 95% 50%;
  padding-right: 15px;
  background-color: #f7f7fc;
}
.search-top__button {
  margin-block: 0.5rem;
  width: 100%;
  height: 3.5rem;
  font-family: "Poppins", sans-serif;
  background: #ed2e7e;
  border-radius: 3rem;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.search {
  max-width: 720px;
  border-radius: 1rem;
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  color: #bca4ff;
  margin-inline-end: 2rem;
  margin-inline-start: 2rem;
  background-color: #2a00a2;
  padding-inline-end: 2rem;
  padding-inline-start: 2rem;
  padding-bottom: 2rem;
}
.search__title {
  font-weight: 600;
  margin-block: 2rem;
}
.search__subtitle {
  color: #f3efff;
}
.search__magnifier {
  background: url(/Img/Search.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 5% 50%;
  font-size: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: #f7f7fc;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline-end: 2rem;
  padding-inline-start: 3.5rem;
  justify-content: space-between;
  border: 0;
}
.search__checkin {
  background: url(/Img/Calandar.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 5% 50%;
  font-size: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: #f7f7fc;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline-end: 2rem;
  padding-inline-start: 3.5rem;
  justify-content: space-between;
  border: 0;
}
.search__checkout {
  background: url(/Img/Calandar.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 5% 50%;
  font-size: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: #f7f7fc;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline-end: 2rem;
  padding-inline-start: 3.5rem;
  justify-content: space-between;
  border: 0;
}
.search__travellers {
  background: url(/Img/Profile.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 5% 50%;
  font-size: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: #f7f7fc;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline-end: 2rem;
  padding-inline-start: 3.5rem;
  justify-content: space-between;
  border: 0;
}

.properties__container {
  border: 1px solid transparent;
}

.properties__title h2 {
  margin: 0;
}

.properties__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-start: 2.3rem;
  margin-block-end: 0;
  margin-inline-start: 3rem;
}

.house-item {
  padding-block-end: 5rem;
  margin-inline-start: 2rem;
  margin-block-start: 3rem;
  border-bottom: solid 1px #d9dbe9;
}
.house-item h4,
.house-item h5 {
  margin: 0;
}
.house-item p {
  margin: 0;
}
.house-item--hidden {
  display: none;
}
.house-item--first {
  margin-block-start: 0;
}
.house-item__image-container {
  display: flex;
  overflow: hidden;
}
.house-item__image {
  background-color: green;
  width: 272px;
  height: 204px;
  border-radius: 20px;
  margin-inline-end: 1rem;
  margin-block: 2rem;
}
.house-item__text-container {
  display: flex;
  flex-direction: column;
}
.house-item__star-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem 0;
}
.house-item__star {
  margin-right: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
.house-item__star--bigger {
  margin-right: 0.3rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
.house-item__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #5f2eea;
  margin: 0.5rem 0;
}
.house-item__title--small {
  font-size: 1rem;
}
.house-item__title--img::before {
  content: url(../Img/Location.png);
  margin-right: 0.5rem;
}
.house-item__text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #4e4b66;
}
.house-item__button {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #5f2eea;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0.8rem 0;
  border: none;
  border-radius: 3rem;
  border: solid 1px #5f2eea;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.arrow-button {
  width: 25%;
  bottom: 3vh;
  left: 40%;
  background-color: white;
  position: relative;
  border: solid 1px white;
  display: flex;
  justify-content: center;
}

.thumb-warning {
  margin-inline: 2rem;
  margin-block: 1rem;
}
.thumb-warning__thumb {
  background-color: rgba(0, 186, 136, 0.0941176471);
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 2rem;
  border: solid 2px;
  border-radius: 15px;
  border-color: #00966d;
}
.thumb-warning__thumb p {
  color: #00966d;
  padding-inline-end: 2rem;
  padding-inline-start: 3.5rem;
  background-image: url(/Img/Pulgar.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 5% 10%;
  font-weight: 600;
  font-size: 0.75rem;
}
.thumb-warning__warning {
  background-color: rgba(237, 46, 126, 0.1294117647);
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 2rem;
  border: solid 2px;
  border-radius: 15px;
  border-color: #ed2e7e;
}
.thumb-warning__warning p {
  color: #ed2e7e;
  padding-inline-start: 3.5rem;
  background-image: url(/Img/Alert-info.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 5% 10%;
  font-weight: 600;
  font-size: 0.75rem;
}

.info {
  background-image: url(/Img/Contact\ Box.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  height: 28.5rem;
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info__question {
  text-align: center;
  padding-inline: 2.5rem;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-block-end: 2rem;
}
.info__button {
  background-color: transparent;
  color: #fff;
  height: 4rem;
  width: 15rem;
  border-radius: 2rem;
  border: solid 2px #fff;
  font-weight: 600;
}

.footer {
  color: #000;
  padding: 1.3rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.footer__item {
  margin-bottom: 4rem;
}
.footer__item--hidden {
  display: none;
}
.footer__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.15rem;
  line-height: 3.43rem;
  margin-block-end: 1rem;
  color: #5f2eea;
}
.footer__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-block-end: 1rem;
}
.footer__text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.75px;
  color: #6E7191;
}
.footer__text--purple {
  color: #bca4ff;
}
.footer__list {
  list-style: none;
}
.footer__list-element {
  color: #6E7191;
  font-size: 0.8rem;
  list-style: none;
  margin-block-end: 1rem;
}

#lupa {
  padding-right: 2rem;
  background-image: url(/Img/Search.png);
  background-size: 1rem;
  background-repeat: no-repeat;
}

@media (min-width: 1000px) {
  .menu {
    max-width: 50%;
  }
  .search-top__container {
    flex-direction: row;
  }
  .search-top__input {
    margin-inline: 0.5rem;
  }
  .search-top__input--first-item {
    flex-grow: 1.3;
  }
  .search-top__button {
    max-width: 200px;
    margin-inline: 1rem;
  }
  .main-section {
    display: flex;
    flex-direction: row;
    margin-block-start: 1rem;
  }
  .main-section .search {
    max-width: 485px;
    max-height: 600px;
  }
  .main-section .arrow-button {
    display: none;
  }
  .properties__container {
    max-width: auto;
    margin-block-start: 1rem;
  }
  .properties__title {
    margin-block-start: 0;
    padding-block-end: 1.8rem;
    padding-inline-start: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-inline-start: 0;
  }
  .house-item {
    display: flex;
    flex-direction: row;
  }
  .house-item__image--hidden {
    display: none;
  }
  .house-item__image-container {
    min-width: 300px;
  }
  .house-item__text-container {
    max-width: 500px;
    min-width: 400px;
  }
  .house-item__image {
    margin-block: 0;
  }
  .house-item__title {
    margin: 1rem;
  }
  .house-item__star-container {
    margin-block-end: 1.2rem;
  }
  .house-item__button {
    margin: 0;
    margin-inline-start: -10.6rem;
    cursor: pointer;
  }
  .thumb-warning__thumb,
.thumb-warning__warning {
    display: flex;
    justify-content: space-between;
    font-size: 0.9;
    height: 6rem;
  }
  .thumb-warning__thumb p,
.thumb-warning__warning p {
    padding-inline-end: 38rem;
    line-height: 3;
    padding-inline-start: 4.5rem;
    background-position: 2%;
  }
  .thumb-warning__warning p {
    padding-inline-end: 23rem;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    margin-top: 4rem;
  }
  .footer__item--hidden {
    display: block;
  }
  .footer__item--wider {
    margin-right: 6rem;
  }
  .footer__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    margin-block-end: 2.2rem;
  }
  .footer__subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    margin-block-end: 1.6rem;
  }
  .footer__text {
    font-size: 0.875rem;
  }
  .footer__item {
    max-width: 15.5rem;
  }
  .footer__list-element {
    font-size: 0.875rem;
    margin-block-end: 1.3rem;
  }
  .footer__text--purple {
    margin-block-end: 1.3rem;
  }
  .footer__text--tlf {
    margin-block-start: 1.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
