@use 'variables';
@mixin theme($icon: url(/Img/Calandar.png)) {
    background: $icon;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 5% 50%;
    font-size: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    background-color: variables.$color-graybackground-input;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-inline-end: 2rem;
    padding-inline-start: 3.5rem;
    justify-content: space-between;
    border: 0;
}
