@use 'variables';
* {
    box-sizing: border-box;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(188, 164, 255, 0.4);
    color: variables.$color-blue;
    width: 100vw;
    &__title {
        font-size: 2rem;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
           margin: 0.1rem;
           width: 2rem;
           height: 0.3rem;
           border-radius: 1rem;
           background-color: variables.$color-blue ;
       }
    }
}

.search {
    &__title {

    }
    &__subtitle {

    }
    &__magnifier {

    }
    &__checkin {

    }
    &__checkout {

    }
    &__travellers {

    }
}

.footer {
    color: variables.$color-black;
    padding: 20px;
    text-align: center;
    font-family: variables.$font-stack;
    &__item{
        margin-bottom: 1rem;
       
    }

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34.375px;
        line-height: 55px;
        color: variables.$color-blue;
    }
   
    &__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: variables.$color-gray;
    }
    &__text--purple {
        color: variables.$color-purple;
    }
}

#lupa {
    padding-right: 2rem;
    background-image: url(/Img/Search.png);
    background-size: 1rem;
    background-repeat: no-repeat;
}