@use 'variables';
* {
    box-sizing: border-box;
}
body {
    font-family: variables.$font-stack;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(188, 164, 255, 0.4);
    color: variables.$color-blue;
    width: 100vw;
    &__title {
        font-size: 2rem;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            margin: 0.1rem;
            width: 2rem;
            height: 0.3rem;
            border-radius: 1rem;
            background-color: variables.$color-blue;
        }
    }
}

.search-top {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 1rem;
    min-width: 350px;

    &__container {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 1px;
    }

    &__input {
        font-family: variables.$font-stack;
        font-size: 0.8rem;
        height: 1.8rem;
      
        border: 2px solid #14142b;
        border-radius: 15px;
        padding: 1.5rem 1rem;
        margin-bottom: 1rem;
    }
    &__input--arrow {
        background: url(../Img/Forward-right-arrow.png) no-repeat right; ;
        background-size: 0.7rem;
        background-position: 95% 50%;
        padding-right: 15px;
        background-color: variables.$color-graybackground-input;
    }

    &__button {
        width: 100%;
        
        font-family: variables.$font-stack;
        background: variables.$color-pink;
        border-radius: 3rem;
        border: none;
        color: variables.$color-white;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        padding: 0.5rem 1rem;

        cursor: pointer;
    }
}



.properties{
     padding: 0 1rem;
    
    min-width: 500px;
    &__title{
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1rem 0;
    }
}


.house-item{
    h4,h5{
        margin:0;
    }
    p{
        margin:0;
    }

    &__image-container{
        
        display: flex;
        overflow: hidden;
    }

    &__image{
        background-color: green;
        width: 272px;
        height: 204px;
        width: auto;
        border-radius: 20px;
        margin: 1rem;
    }
    &__text-container{
        
        display: flex;
        flex-direction: column;
    }
    &__star-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.4rem 0;
    }
        
    &__star{
       margin-right: 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        
    }

    &__title{
        font-size: 1.2rem;
        font-weight: 600;
        color: variables.$color-blue;
        margin: 0.5rem 0;
    }
    &__title--small{
        font-size: 1rem;
       
        
    }
    &__title--img::before{
        content: url(../Img/Location.png);
        margin-right: 0.5rem;

    }

    &__text{
        font-size: 0.8rem;
        font-weight: 400;
        color: variables.$color-gray-light;
        margin: 0.5rem 0;
    }
    &__button{
        font-family: variables.$font-stack;
        background-color: variables.$color-white;
        color:variables.$color-blue;
        font-size:0.7rem;
        font-weight: 600;
        margin: 0.5rem 0;
        border: none;
        border-radius: 3rem;
        border:solid 1px variables.$color-blue;
        padding: 0.3rem 1rem;
    }
   

    

}

.footer {
    color: variables.$color-black;
    padding: 20px;
    text-align: center;
    font-family: variables.$font-stack;
    &__item {
        margin-bottom: 1rem;
    }

    &__title {
        font-family: variables.$font-stack;
        font-style: normal;
        font-weight: 700;
        font-size: 34.375px;
        line-height: 55px;
        color: variables.$color-blue;
    }

    &__text {
        font-family: variables.$font-stack;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: variables.$color-gray;
    }
    &__text--purple {
        color: variables.$color-purple;
    }
}

#lupa {
    padding-right: 2rem;
    background-image: url(/Img/Search.png);
    background-size: 1rem;
    background-repeat: no-repeat;
}
