@use 'variables';
@use 'mixins';

* {
    box-sizing: border-box;
    font-family: variables.$font-stack;
}
body {
}

.nav {
    display: flex;
    flex-direction: row;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(188, 164, 255, 0.4);
    color: variables.$color-blue;
    width: 100vw;
    &__title {
        font-size: 2rem;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            margin: 0.1rem;
            width: 2rem;
            height: 0.3rem;
            border-radius: 1rem;
            background-color: variables.$color-blue;
        }
    }
}

.search-top {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 1rem;
    min-width: 350px;
    border-bottom: solid 1px variables.$color-grayscale;
    padding-block-end: 2rem;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 1px;
    }

    &__input {
        font-size: 0.8rem;
        height: 1.8rem;
        border: 2px solid #14142b;
        border-radius: 15px;
        padding: 1.5rem 1rem;
        margin-bottom: 1rem;
    }
    &__input--arrow {
        background: url(../Img/Forward-right-arrow.png) no-repeat right;
        background-size: 0.7rem;
        background-position: 95% 50%;
        padding-right: 15px;
        background-color: variables.$color-graybackground-input;
    }

    &__button {
        width: 100%;

        font-family: variables.$font-stack;
        background: variables.$color-pink;
        border-radius: 3rem;
        border: none;
        color: variables.$color-white;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}

.search {
    border-radius: 1rem;
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    color: variables.$color-purple;
    margin-inline-end: 2rem;
    margin-inline-start: 2rem;
    background-color: variables.$color-blue-section;
    padding-inline-end: 2rem;
    padding-inline-start: 2rem;
    padding-bottom: 2rem;
    &__title {
    }
    &__subtitle {
        color: variables.$color-section-letter;
        margin: 0;
    }
    &__magnifier {
        @include mixins.theme($icon: url(/Img/Search.png));
    }
    &__checkin {
        @include mixins.theme;
    }
    &__checkout {
        @include mixins.theme;
    }
    &__travellers {
        @include mixins.theme($icon: url(/Img/Profile.png));
    }
    button {
        height: 4rem;
    }
}

.footer {
    color: variables.$color-black;
    padding: 20px;
    text-align: center;
    font-family: variables.$font-stack;
    &__item {
        margin-bottom: 1rem;
    }

    &__title {
        font-family: variables.$font-stack;
        font-style: normal;
        font-weight: 700;
        font-size: 34.375px;
        line-height: 55px;
        color: variables.$color-blue;
    }

    &__text {
        font-family: variables.$font-stack;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: variables.$color-gray;
    }
    &__text--purple {
        color: variables.$color-purple;
    }
}

#lupa {
    padding-right: 2rem;
    background-image: url(/Img/Search.png);
    background-size: 1rem;
    background-repeat: no-repeat;
}
