$font-stack: 'Poppins', sans-serif;
$color-black: #000;
$color-black-light: #14142b;
$color-gray: #14142b;
$color-gray-light: #4e4b66;
$color-white: #fff;
$color-blue: #5f2eea;
$color-blue-dark: #3a1e9a;
$color-blue-section: #2a00a2;
$color-pink: #ed2e7e;
$color-pink-vanish: #ed2e7e21;
$color-pink-letter: #ed2e7e;
$color-purple: #bca4ff;
$color-green: #00ba8818;
$color-green-letter: #00966d;
$color-red-error: #c30052;
$color-grayscale: #d9dbe9;
$color-graybackground-input: #f7f7fc;
$color-section-letter: #f3efff;
